body{ background-color: lightgray;
    }
        
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
border-right:1px solid #bbb;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}
.container1{
    float: left;
    width: 60%;
    background-color: white;
    padding: 55px;
    padding-top: 0;
    margin-bottom: 20px;
    }
    .container2{
    float: right;
    width: 30%;
    padding: 5px;
    padding-top: 0;
    margin-bottom: 20px;
    }
    .head1{
        color: rgb(0,61,96);
        }
        .head2{color:rgb(0,61,96);
        }